.nav-lite {

}


.top-anim {
  animation: wave 1s infinite;
  animation-delay: 1s;
  transform-origin: bottom right;
}

::-webkit-scrollbar {
  width: 0.875rem;
  transition: all 0.3s ease;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #082255; /* Light gray color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #1e3799; /* Dark blue color */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #0066ff; /* Darker blue color on hover */
}

.skill-icon {
  border-radius: 50%;
  transition: border-radius 3s ease;
}

.skill-icon:hover {
  border-radius: 0;
  /* animation: noradius 3s forwards; */
}

.flatten {
  transform: translateY(-30px) scale(2);
}

.scale {
  transform: scale(5);
  opacity: 1;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg); /* Adjust the angle as per your waving style */
  }
}

.visible {
  transition: all 600ms ease-in-out;
  opacity: 1 !important;
  transform: translateY(0px);
}

.invisible {
  opacity: 0;
  transform: translateY(50px);
}

.clip-text {
  background: linear-gradient(to right, #8e2de2, #4a00e0) !important;
  -webkit-background-clip: text !important;
  color: transparent;
  background-clip: text !important;
  animation: clipAnimation 2s infinite;
}

@keyframes clipAnimation {
  0% {
    background: linear-gradient(to right, #ead4fd, #4a00e0) !important;
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
    background: linear-gradient(to right, #ead4fd, #4a00e0) !important;
  }
}

.proficiency span {
  padding: 0 !important;
  /* font-size: 2rem; */
  color: white;
}

.animated-element {
  width: 200px;
  height: 200px;
  background-color: #3498db;
  margin: 50px auto;
  transition: border-radius 3s ease;
}

/* Define the initial border-radius value */
.animated-element {
  border-radius: 10px;
}

/* Define the border-radius value on hover */
.animated-element:hover {
  border-radius: 50%;
}

.navigation {
  transition: all 0.2s ease;
  transition-delay: 200ms;
}

.nav-fixed {
  height: 6rem !important;
  opacity: 1;
}

.nav-static {
  height: 0 !important;
  opacity: 0;
}



@media (max-width: 768px) {
  .navigation {
    display: none !important;
  }

  .top-holder {
    width: 100% !important;
    justify-content: center;
  }

  .clip-text {
    font-size: 2rem !important;
  }

  .top-lets-start {
    width: 100%;
  }

  .top-see-resume {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }

  .third-icon-holders {
    width: 80% !important;
  }

  .third-icon {
    width: 5rem !important;
    height: 5rem !important;
  }
  .third-devicon {
    font-size: 2rem !important;
  }

  .aboutme {
    margin: 0 auto;
  }

  .contact div {
    margin: 0.8rem;
  }

  .contact *::placeholder {
    font-size: 0.8rem;
  }

  .contact label {
    font-size: 0.7rem;
  }

  .contact input {
    padding: 0.3rem;
  }
  .contact-submit {
    padding: 0.8rem 3rem !important;
  }
}
